Dashboard
<div class="admin-title">
    <h2> Dashboard</h2> 

</div>
<!-- Not form the video -->
<!-- <ul>
    <li>
        <a href="/new" class=""> Create a post </a>
    </li>
    <li>
        <a href="/draft" class=""> Draft page </a>
    </li>
    <li>
        <a href="/photos" class=""> Pictures </a>
    </li>
    
    <li>
        <a href="/previousPosts" class=""> Go to Pervious Posts </a>
    </li>
    
</ul>
<a href="/" class=""> Log Out </a> -->


<div class="admin-title">
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <!-- <a href="/photos" class=""> Pictures </a> -->
            <a href="/previousPosts" class=""> Go to Pervious Posts </a>
            <a href="/photos" class=""> Pictures </a>
            <a href="/add-post" class="">Add New Post </a>
            <a href="/draft" class=""> Drafts </a>
        </div>
      </div>
    <!-- <h2> Post </h2> -->
    <!-- <a href="/add-post" class="btn"> + Add New Post</a> -->
    
    
</div>








