<header class="header" >
    <!-- <div class="LogoEdit">
    </div> -->
    <!-- <img src="/img/ethiopia.png" alt="Ethiopia Image" class="ethiopia-image" width="800" height="528"> -->
        <a href="/" class="header_logo"><img src="/img/ethiopia.png" alt="Ethiopia Image" class="ethiopia-image" width="800" height="528">Ethio Pluribus</a> 

  
    
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class=""> Home </a>
            </li>
            <li>
                <a href="/about" class=""> About </a>
            </li>
            <li>
                <a href="/contact" class=""> Contact </a>
            </li>
            <li>
                <a href="/donate" class=""> Donate </a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <i class="fa fa-search"></i>
        </button>
    </div>
</header>