<header class="header" >
    <a href="/" class="header_logo"><img src="/img/ethiopia.png" alt="Ethiopia Image" class="ethiopia-image" width="800" height="528">Ethio Pluribus Admin Panel</a> 
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class=""> Home </a>
            </li>
            <li>
                <a href="/new" class=""> About </a>
            </li>
            <li>
                <a href="/draft" class=""> Contact </a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <!-- <button  >
          Logout
        </button> -->
        <a href="/logout" class="btn">Logout</a>
    </div>
</header>