<!-- <h1> About Page </h1>
<h1 class="author__heading">
    Hi, I am ...
<p class="author__body">
    A law school graduate, Human right advocator...

</p>  -->
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/img/person.png" alt="Bona" style="width:30%">
        <div class="container">
          <h2>Lencho</h2>
          <p class="title">CEO & Founder</p>
          <p>A law school graduate, Human right advocator...</p>
       
          <p>
            <button class="button">
                <a href="/contact" class="">  Contact </a>
               
            </button>
        </p>
        </div>
      </div>
    </div>
  
    <!-- <div class="column">
      <div class="card">
        <img src="" alt="Team Member 2" style="width:100%">
        <div class="container">
          <h2>Team Member 2</h2>
          <p class="title">Position</p>
          <p>------</p>
          <p>emailadress</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->
  
    
  </div>