<h1> Conatct Us</h1>

<div class="container">
    <div style="text-align:center">
        <h2>Send a feedback</h2>
        <p>I Love to hear from you : </p>
    </div>
    <div class="row">
        <div class="column">
            <img src="" style="width:100%">
        </div>
        <div class="column">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="Australia">Australia</option>
                    <option value="Canada">Canada</option>
                    <option value="Usa">USA</option>
                    <option value="Africa">Africa</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div>
        <h2>Also connect on :</h2>
        <nav class="socialMediaPagesList">

            <ul>
                <li>
                    <a href="https://www.facebook.com/" class="fa fa-facebook"> : Ethio Pluribus </a>
                </li>
                <li>
                    <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com//" class="fa fa-youtube"></a>
                </li>
            </ul>
        </nav>
       
     
        
       
       
    </div>
</div>