<!-- <h1> 
    
</h1>
<article class="article">
    <
   
    
</article> -->
<div className="post"> 
    <div className="image">
        <img src="<%= data.image %>" alt="Human Right logo"/>
    </div>
    <div className="texts">
      <h2><%= data.title %> </h2>
      <p className="info">
        <a className="author" > Lencho </a>
        <time> 09-18-2023  10:45 </time>
      </p>
      <p className="summary"> 
        <%= data.body %>
      </p>
    </div>
    <a href="/">&larr; Back to Home </a>
</div>

